h1{
  color: white;
  background: grey;
   text-align: center;
  text-shadow: 2 px 5 px 2 px yellow;
}

body{
  background: pink;
  
  .p {
font-family: "Courier New", monospace;
    font-weight:  bold;
  }

  div {
    border: 5 px;
    padding: 10 px;
  }

img {
  display: block;
  margin: auto;
  border-radius: 10 px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  #header3 {
background-color: blue;
    padding: 40 px;
  }

  head {
text-decoration-line: underline;
    text-shadow: 2 px, 2 px, 5 px pink;
  }

  #grad1 {
    heght: 500 px;
background-color: pink
    background-image: linear-gradient(pink,purple);
  }

@keyframes colors {
 0 % {background-color: pink;}
 25 % {background-color: purple;}
 50 % {background-color: blue;}
 75 % {background-color: green;}
 100 %  {background-color: yellow;} 
}

  #myDIV {
color: orange;
    animation: mymove 8 s infinite;
  }

   @keyframes mymove {
50 % {color: pink;}
  }

  #myDIV {
width: 300 px;
  height: 200 px;
    outline: 5 px solid pink;
    animation: mymove 8 s infinite;
  }

 @keyframes mymove {
50 % {outline-color: orange;}
 }
  
}
