h1{
  background: white;
   text-align: center;
  text-shadow: 2px 2px 5px yellow;
}

#listDIV {
    border: 5px black;
    padding: 10px 50px 40px 20px;
      background: lightblue;
  }

body{
  background: pink;
}
  
  p {
font-family: "Lucida Console", "Courier New", monospace;
    font-weight:  bold;
  }

img {
 display: block;
  margin-left: auto;
  margin-right: auto;
}

  h3 {
background-color: white;
    padding: 40px;
  }

  head {
text-decoration-line: underline;
    text-shadow: 2px 2px 5px pink;
  }

  #grad1 {
    height: 500px;
background-color: pink
    background-image: linear-gradient(pink,purple);
  }

@keyframes colors {
from {background-color: lightgreen;}
  to {background-color: lightyellow;}
}

  #colorDIV {
width: 1450px;
  height: 100px;
  background-color: lightgreen;
  animation-name: colors;
  animation-duration: 4s;
  }
