h1{
  color: white;
  background: grey;
   text-align: center;
  text-shadow: 2px 2px 5px yellow;
}

body{
  background: pink;
  
  p {
font-family: "Lucida Console", "Courier New", monospace;
    font-weight:  bold;
  }

  #textDIV {
    border: 5px black;
    padding: 10px 50px 40px 20px;
  }

img {
  display: block;
  margin: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  #header3 {
background-color: blue;
    padding: 40px;
  }

  head {
text-decoration-line: underline;
    text-shadow: 2px 2px 5px pink;
  }

  #grad1 {
    heght: 500px;
background-color: pink
    background-image: linear-gradient(pink,purple);
  }

@keyframes colors {
 0 % {background-color: pink;}
 25 % {background-color: purple;}
 50 % {background-color: blue;}
 75 % {background-color: green;}
 100 %  {background-color: yellow;} 
}

  #myDIV {
color: orange;
    animation: mymove 8 s infinite;
  }

   @keyframes mymove {
50 % {color: pink;}
  }

  #myDIV {
width: 300px;
  height: 200px;
    outline: 5px solid pink;
    animation: mymove 8 s infinite;
  }

 @keyframes mymove {
50 % {outline-color: orange;}
 }
  
}
